<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="/static/js/jQuery-3.4.1.js"></script>
    <script>
        all()
        // 获取全部学生信息列表请求
        function all() {
            $('#errmsg').html('')
            $.ajax({
                'url':'/student_all',
                'type':'post',
                'data':{},
                'dataType':'json',
                success:data =>{
                    if (data.errCode == "0"){
                        json = data.data
                        for(i = 0; i < json.length; i++){
                            student_name = json[i]['student_name']
                            student_id = json[i]['student_id']
                            gender = json[i]['gender']
                            birth = json[i]['birth']
                            departments = json[i]['departments']
                            address = json[i]['address']
                            option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+"---"+ '<a href = "/modify" '+
					'onclick = "modify(\'' + student_id + '\')">修改</a>'+'</div>'
                            $('#errmsg').append(option_str)
                            $('#errmsg').show().html()
                            // console.log(option_str)
                        }
                    } else {
                            //跳转到首页
                            location.href = '/login'
                    }
                }
            })
        }
        // 删除请求
         function delete1(student_id) {
            var student = student_id
             $.ajax({
                    'url':'/student_delete',
                    'type':'post',
                    'data':{'student_id':student},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode == "0"){
                            $('#errmsg').show().html()
                            all()
                            // console.log(option_str)
                        }else if(data.errCode == "20"){
                            $('#errmsg').show().html(data.errDesc)
                        } else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                })
         }



         // 根据类型查询请求
         $(function () {
            $('#btnLogin').click(function () {
                $('#errmsg').html('')
                    username = $('#username').val()
                    tpye = $('#type option:selected').val()
                // 根据学号查询
                if (tpye === 'student_id'){
                    $.ajax({
                    'url':'/student_id',
                    'type':'post',
                    'data':{'student_id':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                             }
                        }else if(data.errCode === "20"){
                            $('#errmsg').show().html(data.errDesc)
                        }else if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        } else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                })
                    // 根据名字搜索请求
                }else if(tpye === 'student_name'){
                    $.ajax({
                    'url':'/student_name',
                    'type':'post',
                    'data':{'student_name':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                                // console.log(option_str)
                             }
                        }else if(data.errCode === "21"){
                            $('#errmsg').show().html(data.errDesc)
                        }else  if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        } else {
                            location.href = '/index'
                        }
                    }
                    })
                    // 根据地址搜索请求
                }else if(tpye === 'student_address'){
                     $.ajax({
                    'url':'/student_address',
                    'type':'post',
                    'data':{'student_address':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--"+ '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                             }
                        }else if(data.errCode == "21"){
                            $('#errmsg').show().html(data.errDesc)
                        }else if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        }else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                    })
                    // 根据院系搜索请求
                }else if(tpye === 'student_departments'){
                     $.ajax({
                    'url':'/student_departments',
                    'type':'post',
                    'data':{'student_departments':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                             }
                        }else if(data.errCode === "21"){
                            $('#errmsg').show().html(data.errDesc)
                        }else if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        }else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                    })
                }else if(tpye === 'student_gender'){
                     $.ajax({
                    'url':'/student_gender',
                    'type':'post',
                    'data':{'student_gender':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                             }
                        }else if(data.errCode === "23"){
                            $('#errmsg').show().html(data.errDesc)
                        }else if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        }else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                    })
                }else if(tpye === 'student_birth'){
                     $.ajax({
                    'url':'/student_birth',
                    'type':'post',
                    'data':{'student_birth':username},
                    'dataType':'json',
                    success:data =>{
                        if (data.errCode === "0"){
                            json = data.data
                            for(i = 0; i < json.length; i++){
                                student_name = json[i]['student_name']
                                student_id = json[i]['student_id']
                                gender = json[i]['gender']
                                birth = json[i]['birth']
                                departments = json[i]['departments']
                                address = json[i]['address']
                                option_str = '<div>'+"学生姓名:" + student_name + ", 学号:" + student_id + ", 性别:" + gender + ", 出生年月日:" + birth + ', 院系:' + departments + ", 地址:" + address + "--" + '<a href = "javascript:void(0)" '+
					'onclick = "delete1(\'' + student_id + '\')">删除</a>'+'</div>'
                                $('#errmsg').append(option_str)
                                $('#errmsg').show().html()
                             }
                        }else if(data.errCode === "24"){
                            $('#errmsg').show().html(data.errDesc)
                        }else if(data.errCode === '50'){
                            $('#errmsg').show().html(data.errDesc)
                        }
                        else {
                            //跳转到首页
                            location.href = '/index'
                        }
                    }
                    })
                }
            })
         })
    </script>
    <style>
        #errmsg{
            display: none;
            color: rgba(0, 0, 0, 0.99);
        }
    </style>

</head>
<body>
<h1>首页</h1><br/>
<h2><a href="/index">学生信息</a>--<a href="/course">课程信息</a>--<a href="111">成绩信息</a></h2>

<a href="/add">新增</a>
<div>
    <select id = 'type'>
  <option value="student_id">学号</option>
  <option value="student_name">姓名</option>
  <option value="student_gender">性别</option>
  <option value="student_birth">年龄</option>
  <option value="student_address">地址</option>
  <option value="student_departments">院系</option>
    </select>
   <input type="text" id="username">
    <input type="button" id="btnLogin" value="搜索">
    <div id="errmsg"></div>
</div>
</body>
</html>
